@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.App-link {
  color: #61dafb;
}

input {
  border: 0;
  height: 1.5rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
}

button {
  margin-top: 2rem;
  padding: 0.5rem;
  width: 6rem;
  border-radius: 3rem;
  border: 0;
  cursor: pointer;
  background: skyblue;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
}

